In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import geopandas as gpd
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
# pd.set_option('display.float_format', '{:.2f}'.format)

# Day_1 Integration of data

In [3]:
gis_africa = gpd.read_file('C:/Users/Admin/Desktop/work for summer intern/AFRICAPOLIS2020.zip')
csv_africa = pd.read_excel('C:\\Users\\Admin\\Desktop\\work for summer intern\\SouthAfrica\\MAPTA_GreenSpaces_UrbanForm.xlsx')

In [4]:
'''due to we have more data in csv_africa than gis_africa, we will check if all the 'Agglomeration_Name' of csv_africa can be found in gis_africa['agglosName']'''

# Check if csv_africa['Agglomeration_Name'] is in gis_africa['agglosName']
isin_result = csv_africa['Agglomeration_Name'].isin(gis_africa['agglosName'])

# Count the number of names not found
not_found_count = (~isin_result).sum()

# Print the result
print(f"There are {not_found_count} 'csv_africa['Agglomeration_Name'] not found in gis_africa['agglosName']")

There are 117 'csv_africa['Agglomeration_Name'] not found in gis_africa['agglosName']

In [25]:
pd.merge(gis_africa, csv_africa, left_on='agglosName', right_on='Agglomeration_Name').describe()

,agglosID_x,Longitude,Latitude,Pop2015,builtUp,Voronoi,Pop1950,Pop1960,Pop1970,Pop1980,Pop1990,Pop2000,Pop2010,agglosID_y,annual_mean_temp,annual_max_temp,annual_precipitation,Population_1950,Population_1960,Population_1970,Population_1980,Population_1990,Population_2000,Population_2010,Population_2015,dif_elev_m,avg_slope_degree,built_up_area,street_length_avg,street_int_density,NBuildings,MeanBuildingArea,Elongation,Sprawl,Green_space_cover,Green_space_trees_cover,Green_space_shrubland_cover,Green_space_grassland_cover,PM2.5_2020
count,5778.000000,5778.000000,5778.000000,5.778000e+03,5778.000000,5778.000000,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5778.000000,5778.000000,5778.000000,5778.000000,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5.778000e+03,5778.000000,5778.000000,5778.000000,5778.000000,5778.000000,5.778000e+03,5778.000000,5778.000000,5778.000000,5778.000000,5778.000000,5778.000000,5778.000000,5778.000000
mean,4697.987366,19.564156,7.940321,8.306075e+04,19.061096,2752.354967,3.503233e+03,6.268739e+03,1.012633e+04,1.614643e+04,2.478444e+04,3.777791e+04,5.990103e+04,4697.985635,22.767983,33.065487,896.965092,3.527542e+03,6.308999e+03,1.019525e+04,1.626947e+04,2.496477e+04,3.803774e+04,6.030014e+04,8.364784e+04,93.791450,3.409920,0.113341,151.974362,70.572287,3.171035e+04,0.000053,6.779435,0.907415,0.301648,0.135313,0.055517,0.110818,33.551491
std,2621.874451,15.699914,17.698490,4.870667e+05,133.906899,10198.648499,4.209985e+04,6.539285e+04,9.679920e+04,1.357848e+05,1.882084e+05,2.472017e+05,3.698810e+05,2621.876840,3.985069,4.067805,625.048054,4.211250e+04,6.541632e+04,9.683840e+04,1.358552e+05,1.883187e+05,2.473987e+05,3.701781e+05,4.876020e+05,131.148852,1.797388,0.057697,157.673636,75.236455,1.652115e+05,0.000020,2.942676,0.478817,0.245158,0.175137,0.093318,0.130531,18.074605
min,1.000000,-24.982000,-34.533000,1.000000e+04,0.303840,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,11.161344,20.221653,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+04,7.000000,1.252675,0.011676,20.249000,0.000000,2.002000e+03,0.000014,1.823443,0.259589,0.000000,0.000000,0.000000,0.000000,5.056663
25%,2488.500000,5.944000,-1.843250,1.459750e+04,2.315362,202.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.103300e+04,2488.500000,19.965008,30.706901,419.633896,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.105191e+04,1.464200e+04,27.000000,2.275210,0.069946,83.288439,20.055487,4.887250e+03,0.000039,4.716768,0.577812,0.082314,0.012340,0.003619,0.017722,20.493854
50%,4649.500000,26.388000,8.040500,2.267450e+04,4.301513,644.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.196200e+04,1.730300e+04,4649.500000,23.052342,32.801838,918.088348,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+04,1.740000e+04,2.273250e+04,53.000000,2.853756,0.104001,112.818879,45.847379,8.435500e+03,0.000049,5.994734,0.765691,0.251532,0.053020,0.016051,0.069548,30.333030
75%,7004.500000,31.641500,16.645000,4.393925e+04,9.430328,1947.750000,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+04,1.531875e+04,2.253325e+04,3.250675e+04,7004.500000,26.320112,35.819412,1280.782745,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+04,1.544246e+04,2.257385e+04,3.272365e+04,4.399200e+04,106.000000,3.825372,0.147501,157.207696,94.225320,1.706550e+04,0.000062,8.008505,1.076852,0.481046,0.196137,0.063634,0.152761,41.105194
max,9199.000000,63.420000,37.272000,2.299580e+07,5836.412633,283144.000000,2.561779e+06,3.877835e+06,5.706767e+06,7.662514e+06,9.934584e+06,1.190130e+07,1.617987e+07,9199.000000,30.812325,46.252144,4296.479980,2.561779e+06,3.877835e+06,5.706767e+06,7.662514e+06,9.934584e+06,1.190130e+07,1.617987e+07,2.299580e+07,1743.000000,19.787527,0.447375,4910.846000,767.535579,5.676140e+06,0.000139,19.999366,2.997627,0.974842,0.895202,0.794860,0.918652,116.690185

In [27]:
matched = pd.merge(gis_africa, csv_africa, left_on='agglosName', right_on='Agglomeration_Name')
gis_africa[~gis_africa['agglosName'].isin(matched['agglosName'])].describe()

,agglosID,Longitude,Latitude,Pop2015,builtUp,Voronoi,Pop1950,Pop1960,Pop1970,Pop1980,Pop1990,Pop2000,Pop2010
count,2166.000000,2166.000000,2166.000000,2.166000e+03,2166.000000,2166.000000,2166.000000,2166.000000,2.166000e+03,2.166000e+03,2.166000e+03,2.166000e+03,2.166000e+03
mean,4583.048476,18.712079,8.886271,4.897548e+04,13.827341,4592.252078,2228.421053,3405.134811,5.721860e+03,9.545660e+03,1.519482e+04,2.284872e+04,3.667578e+04
std,2676.985048,15.366717,16.187229,1.995743e+05,70.606306,17554.210192,22008.949749,30178.090794,4.489076e+04,6.527293e+04,8.906884e+04,1.159175e+05,1.602034e+05
min,2.000000,-23.679000,-34.417000,1.000000e+04,0.048307,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2157.000000,6.776750,0.076250,1.251650e+04,1.872170,336.250000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+04
50%,4726.500000,22.325500,8.809000,1.834050e+04,3.733866,1189.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.434100e+04
75%,6774.250000,30.803000,15.401000,3.257275e+04,9.119487,3338.250000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.106475e+04,1.695600e+04,2.557550e+04
max,9203.000000,57.593000,37.138000,4.182929e+06,1880.320338,415231.000000,675564.000000,965277.000000,1.432085e+06,1.991113e+06,2.496472e+06,2.848576e+06,3.321785e+06

In [5]:
combined_africa = gis_africa.merge(csv_africa, left_on='agglosName', right_on='Agglomeration_Name', how='left')

In [6]:
combined_africa.head(2)

,agglosID_x,agglosName,ISO3_x,Longitude,Latitude,Pop2015,builtUp,Voronoi,Pop1950,Pop1960,Pop1970,Pop1980,Pop1990,Pop2000,Pop2010,Metropole,geometry,agglosID_y,Agglomeration_Name,ISO3_y,agroeco_zone,annual_mean_temp,annual_max_temp,annual_precipitation,Population_1950,Population_1960,Population_1970,Population_1980,Population_1990,Population_2000,Population_2010,Population_2015,city_group,dif_elev_m,avg_slope_degree,built_up_area,street_length_avg,street_int_density,NBuildings,MeanBuildingArea,Elongation,Sprawl,Green_space_cover,Green_space_trees_cover,Green_space_shrubland_cover,Green_space_grassland_cover,PM2.5_2020
0,6848,Norton (West),ZWE,30.656,-17.898,59773,14.436287,3485,0,0,0,0,17161,34926,57769,No,"MULTIPOLYGON (((30.66409 -17.91587, 30.66482 -...",6848.0,Norton (West),ZWE,Tropic - cool / semiarid,18.467993,29.175873,769.457214,0.0,0.0,0.0,0.0,17160.99579,34926.45414,57768.88301,59773.0,IntermediarySmall,48.0,1.885304,0.092567,118.59500,34.886723,25431.0,0.000053,5.484938,0.808894,0.201572,0.043605,0.041574,0.116393,15.847188
1,6849,Notse,TGO,1.165,6.952,58713,12.257497,1279,0,0,0,0,13317,21397,47863,No,"POLYGON ((1.15976 6.95734, 1.16033 6.95829, 1....",6849.0,Notse,TGO,Tropic - warm / subhumid,26.714550,34.105167,1157.437744,0.0,0.0,0.0,0.0,13317.00698,21397.35519,47863.00000,58713.0,IntermediarySmall,70.0,3.430376,0.094639,99.59994,48.042061,21827.0,0.000053,5.358885,0.660695,0.365698,0.075375,0.234202,0.056121,29.040758

In [7]:
combined_africa.to_file('combined_africa.shp')

In [8]:
'''input the code of countries in Africa'''

url = 'https://en.wikipedia.org/wiki/ISO_3166-1'
tables = pd.read_html(url)
# Assuming the first table is the one you want
ISO_code = tables[1]

ISO_code

,English short name (using title case),Alpha-2 code,Alpha-3 code,Numeric code,Link to ISO 3166-2,Independent
0,Afghanistan[b],AF,AFG,4,ISO 3166-2:AF,Yes
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,No
2,Albania,AL,ALB,8,ISO 3166-2:AL,Yes
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Yes
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,No
...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,No
245,Western Sahara[b],EH,ESH,732,ISO 3166-2:EH,No
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Yes
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Yes
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Yes

In [9]:
countries = ['Ghana','Tanzania, United Republic of','Kenya','Togo']
ISO_code[ISO_code['English short name (using title case)'].isin(countries)]

,English short name (using title case),Alpha-2 code,Alpha-3 code,Numeric code,Link to ISO 3166-2,Independent
84,Ghana,GH,GHA,288,ISO 3166-2:GH,Yes
116,Kenya,KE,KEN,404,ISO 3166-2:KE,Yes
219,"Tanzania, United Republic of",TZ,TZA,834,ISO 3166-2:TZ,Yes
222,Togo,TG,TGO,768,ISO 3166-2:TG,Yes

In [10]:
iso_3 = ['GHA','TZA','KEN','TGO']
filtered_combined_africa = combined_africa[combined_africa['ISO3_x'].isin(iso_3)].reset_index(drop=True)

In [11]:
filtered_combined_africa.head(2)

,agglosID_x,agglosName,ISO3_x,Longitude,Latitude,Pop2015,builtUp,Voronoi,Pop1950,Pop1960,Pop1970,Pop1980,Pop1990,Pop2000,Pop2010,Metropole,geometry,agglosID_y,Agglomeration_Name,ISO3_y,agroeco_zone,annual_mean_temp,annual_max_temp,annual_precipitation,Population_1950,Population_1960,Population_1970,Population_1980,Population_1990,Population_2000,Population_2010,Population_2015,city_group,dif_elev_m,avg_slope_degree,built_up_area,street_length_avg,street_int_density,NBuildings,MeanBuildingArea,Elongation,Sprawl,Green_space_cover,Green_space_trees_cover,Green_space_shrubland_cover,Green_space_grassland_cover,PM2.5_2020
0,6849,Notse,TGO,1.165,6.952,58713,12.257497,1279,0,0,0,0,13317,21397,47863,No,"POLYGON ((1.15976 6.95734, 1.16033 6.95829, 1....",6849.0,Notse,TGO,Tropic - warm / subhumid,26.71455,34.105167,1157.437744,0.0,0.0,0.0,0.0,13317.00698,21397.35519,47863.0,58713.0,IntermediarySmall,70.0,3.430376,0.094639,99.599940,48.042061,21827.0,0.000053,5.358885,0.660695,0.365698,0.075375,0.234202,0.056121,29.040758
1,6801,Nkonsia,GHA,-2.108,7.693,10775,4.543057,240,0,0,0,0,0,0,0,No,"POLYGON ((-2.09552 7.66880, -2.09585 7.66842, ...",6801.0,Nkonsia,GHA,Tropic - warm / subhumid,26.45542,34.495022,1169.978394,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,10775.0,Small,109.0,3.544058,0.096081,116.321283,30.393028,6428.0,0.000068,8.304886,1.170782,0.382350,0.081424,0.074723,0.226203,26.762085

In [12]:
filtered_combined_africa.to_file('filtered_combined_africa.shp')

In [28]:
folder_path = r'C:\Users\Admin\Desktop\work for summer intern\building'

buildings_list = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        buildings_list.append(df)

combined_buildings = pd.concat(buildings_list, ignore_index=True)

In [38]:
from shapely.geometry import Point
geometry = [Point(xy) for xy in zip(combined_buildings['longitude'], combined_buildings['latitude'])]
combined_buildings = gpd.GeoDataFrame(combined_buildings, geometry=geometry)
combined_buildings.set_crs(epsg=4326, inplace=True)

,latitude,longitude,area_in_meters,confidence,geometry,full_plus_code
0,5.538758,-0.416702,30.9672,0.8225,POINT (-0.41670 5.53876),6CQXGHQM+G838
1,6.741778,-3.491481,91.1895,0.8338,POINT (-3.49148 6.74178),6CRRPGR5+PC64
2,5.690601,-0.367710,9.3122,0.6959,POINT (-0.36771 5.69060),6CQXMJRJ+6WV3
3,5.466720,-4.046062,252.1534,0.9232,POINT (-4.04606 5.46672),6CQQFX83+MHPJ
4,9.479593,-0.016047,143.1458,0.9112,POINT (-0.01605 9.47959),6CXXFXHM+RHPM
...,...,...,...,...,...,...
98595356,-2.600469,33.889202,14.8256,0.7320,POINT (33.88920 -2.60047),6G9M9VXQ+RM87
98595357,-2.621141,29.829634,115.8280,0.8314,POINT (29.82963 -2.62114),6G9F9RHH+GVR7
98595358,-1.457323,30.874619,6.3437,0.6553,POINT (30.87462 -1.45732),6GCGGVVF+3RH5
98595359,-2.460803,32.921721,5.8392,0.7099,POINT (32.92172 -2.46080),6G9JGWQC+MMHR
98595360,-1.688431,33.573239,47.0762,0.7487,POINT (33.57324 -1.68843),6GCM8H6F+J7HP

In [40]:
filtered_combined_buildings = gpd.sjoin(combined_buildings, filtered_combined_africa, op='within')

In [42]:
filtered_combined_buildings.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [41]:
# filtered_combined_buildings.to_file('filtered_combined_buildings.shp')

In [44]:
# filtered_combined_buildings.to_csv('filtered_combined_buildings.csv')

In [61]:
filtered_combined_africa['ISO3_x'].unique()

array(['TGO', 'GHA', 'TZA', 'KEN'], dtype=object)

In [62]:
filtered_combined_africa_TGO = filtered_combined_africa[filtered_combined_africa['ISO3_x'] == 'TGO'].reset_index(drop=True)
filtered_combined_africa_GHA = filtered_combined_africa[filtered_combined_africa['ISO3_x'] == 'GHA'].reset_index(drop=True)
filtered_combined_africa_TZA = filtered_combined_africa[filtered_combined_africa['ISO3_x'] == 'TZA'].reset_index(drop=True)
filtered_combined_africa_KEN = filtered_combined_africa[filtered_combined_africa['ISO3_x'] == 'KEN'].reset_index(drop=True)

In [63]:
filtered_combined_buildings_TGO = gpd.sjoin(combined_buildings, filtered_combined_africa_TGO, op='within')
filtered_combined_buildings_GHA = gpd.sjoin(combined_buildings, filtered_combined_africa_GHA, op='within')
filtered_combined_buildings_TZA = gpd.sjoin(combined_buildings, filtered_combined_africa_TZA, op='within')
filtered_combined_buildings_KEN = gpd.sjoin(combined_buildings, filtered_combined_africa_KEN, op='within')

In [64]:
filtered_combined_buildings_TGO.to_csv('filtered_combined_buildings_TGO.csv')
filtered_combined_buildings_GHA.to_csv('filtered_combined_buildings_GHA.csv')
filtered_combined_buildings_TZA.to_csv('filtered_combined_buildings_TZA.csv')
filtered_combined_buildings_KEN.to_csv('filtered_combined_buildings_KEN.csv')